.resimSlider{
    height: 565px;
}
body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.hakkimizda{
    background-color: #f2f2f2;
}
.icon1{
    position: relative;
    border: 10px solid #f2f2f2;
    top: -50px;
    font-size: 40px;
    background-color: #f2f2f2;
}
.fa-facebook,.fa-twitter,.fa-instagram{
    font-size: 40px;
    cursor: pointer;
}
.footer{
    font-size: 12px;
}
.figure:hover{
    opacity: 0.7;

}
.galery{
    background-color: #f2f2f2;
}
.Copyright{
    background-color: aqua;
}